.match-box {
    background-color: #b59a57;
    color: #73000a;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.match-title {
    font-size: 22px;
    font-weight: bold;
}
