body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #73000a;
    text-align: center;
}

h1 {
    color: #73000a;
}

form {
    background-color: #b59a57;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #73000a;
}

input, select, button {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #73000a;
}

button {
    background-color: #73000a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #b59a57;
    color: black;
}
